.Button {
  outline: none;
  border: none;
  padding: calc(0.6rem * var(--scale)) calc(1.4rem * var(--scale));
  font-size: calc(1rem * var(--scale));
  text-decoration: none;
  border-radius: var(--radius-primary);
}

.Button.Button-solid {
  background-color: var(--color-tertiary);
  border: 2px solid var(--color-tertiary);
  color: white;
}

.Button.Button-solid:hover {
  background-color: color-mix(
    in srgb,
    var(--color-tertiary),
    rgb(200, 200, 200)
  );
  border-color: color-mix(in srgb, var(--color-tertiary), rgb(200, 200, 200));
}

.Button.Button-outline {
  background-color: transparent;
  border: 2px solid var(--color-primary-dark);
  color: var(--color-primary-dark);
}

.Button.Button-outline:hover {
  background-color: var(--color-primary-dark);
  color: var(--text-color-secondary);
}

.Button.Button-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: calc(0.2rem * var(--scale));
  background-color: var(--color-tertiary);
  border-radius: 10rem;
  width:calc(3.1875rem * 100%) * var(--scale);
  color: var(--color-primary-dark);
}

.Button.Button-icon:hover {
  background-color: var(--color-primary-dark);
  color: var(--text-color-secondary);
}
