.Header {
  height: 14vh;
  width: 100%;
}

.Header-container {
  position: fixed;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100vw;
  height: 14vh;
  background-color: color-mix(
    in srgb,
    var(--bg-primary),
    var(--color-mix-bg-menu-primary)
  );
  backdrop-filter: blur(var(--blur-primary));
  padding: 0.8rem var(--padding-primary-x) 0.8rem
    calc(var(--padding-primary-x) - 5px);
  z-index: 9999;
}

.Header-Logo,
.Header-Links .Header-Links-container {
  display: flex;
  align-items: center;
  justify-content: start;
}

.Header-Links .Header-Links-container {
  width: 100%;
  height: 100%;
  gap: 4rem;
  justify-content: end;
}

.Header-Links .Header-Links-container a {
  text-decoration: none;
  font-weight: bold;
  color: var(--text-color-primary);
}

.Header-Menu-Mobile {
  display: none;
  justify-content: end;
  align-items: center;
}

.Header-Menu-Mobile button {
  outline: none;
  border: none;
  height: 30px;
  background-color: transparent;
  cursor: pointer;
  margin-right: calc(var(--padding-primary-x) / 4);
  border-radius: var(--radius-primary);
}

.Header-Menu-Mobile button:is(:hover, :active) {
  background-color: var(--bg-secondary);
}

@media screen and (max-width: 1240px) {
  .Header-container {
    padding: 0.5rem var(--padding-primary-x);
  }
}

@media screen and (max-width: 769px) {
  .Header-Links .Header-Links-container a {
    font-size: 0.8rem;
  }
  .Header-Links .Header-Links-container {
    padding-left: 1rem;
    gap: 2rem;
  }
  .Header-container {
    padding: 0.5rem 3.5rem;
  }

  .Header-Logo svg {
    width: 106px;
    height: 36px;
  }
}

@media screen and (max-width: 426px) {
  .Header-Links .Header-Links-container a {
    font-size: 1rem;
  }
  .Header-Logo svg {
    width: 110px;
    height: 40px;
  }
  .Header-container {
    padding-left: 0;
    padding-right: 0;
    grid-template-columns: 1fr 3fr 1fr;
  }
  .Header-Links {
    order: 1;
  }
  .Header-Links .Header-Links-container a {
    display: none;
    width: 100%;
    height: 12vh;
    font-size: 1rem;
    place-content: center;
    padding: 0 var(--padding-primary-x);
  }
  .Header-Logo {
    order: 2;
    justify-content: center;
  }
  .Header-Menu-Mobile {
    order: 3;
    display: flex;
  }

  @keyframes Header-Mobile-close {
    0% {
      height: calc(100vh - 12vh);
    }
    100% {
      height: 0vh;
    }
  }

  @keyframes Header-Mobile-open {
    0% {
      height: 0vh;
      overflow: hidden;
    }

    100% {
      height: calc(100vh - 12vh);
      overflow: unset;
    }
  }

  .Header-Links.open .Header-Links-container a {
    display: grid;
  }
  .Header-Links.open .Header-Links-container,
  .Header-Links.closing .Header-Links-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 12vh;
    left: 0;
    width: 100%;
    height: calc(100vh - 12vh);
    background-color: color-mix(
      in srgb,
      var(--bg-primary),
      var(--color-mix-bg-menu-primary)
    );
    backdrop-filter: blur(var(--blur-primary));
    gap: 1rem;
    padding: 0;
  }

  .Header-Links.open .Header-Links-container {
    animation: Header-Mobile-open 0.3s ease-in-out;
  }
  .Header-Links.closing .Header-Links-container {
    animation: Header-Mobile-close 0.3s ease-in-out;
  }
  .Header-Links.closed .Header-Links-container {
    display: none;
  }
}
