.Card {
  display: flex;
  width: calc(47.9375rem * 100%);
  height: auto;
  flex-shrink: 0;
  border-radius: calc(0.63rem * var(--scale));
  background: var(--Text-Color-P-W);
  margin-bottom: calc(2.56rem * var(--scale)) ;
  word-break: keep-all;
  hyphens:none ;
}

.Card-Button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: calc(1.25rem * var(--scale));
}

.Card-info {

  margin: calc(2rem* var(--scale));

  & span {
    font-size: calc(1.1875rem * var(--scale));
    font-style: normal;
    font-weight: 400;
    line-height: calc(1.25rem * var(--scale));
    & b {
      font-size: calc(1.25rem * var(--scale));
      font-weight: 600;
    }
  }
}

.Card-horizontal {
  flex-direction: row;
}

.Card-vertical {
  flex-direction: column;
}


@media screen and (max-width: 1024px) {
 .Card-info{
    margin: calc(1.1rem * var(--scale));
  }
    .Card {
      width: 100%;
      height: auto;
    }
    .Card-Button {
      padding: calc(1rem * var(--scale)) 0 0 calc(1.1rem * var(--scale));
      --scale: 0.8;
    }
    .Card-info {
      margin: calc(1rem * var(--scale));
      --scale: 0.8;
    }
 }
}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 425px) {

}

@media screen and (max-width: 312px) {

}
