* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: var(--color-primary) var(--bg-secondary);
}

p,
span,
h1,
h2,
h3,
h4,
h5,
h6,
a {
  font-style: var(--text-color);
}

body {
  background-color: var(--bg-secondary);
}

:root {
  --scale: 1;
  --color-primary: rgb(12, 28, 71);
  --color-secondary: rgb(114, 81, 188);
  --color-tertiary: rgb(0, 168, 225);

  --color-primary-dark: rgb(3, 6, 28);
  --color-tertiary-white: rgb(191, 209, 229);

  --color-mix-hover-primary: rgb(200, 200, 200);
  --color-mix-bg-menu-primary: rgba(255, 255, 255, 0.75);

  --bg-primary: rgb(255, 255, 255);
  --bg-secondary: rgb(223, 229, 230);
  --bg-tertiary: var(--color-primary-dark);
  --bg-quaternary: var(--color-tertiary-white);

  --padding-primary-x: 6.25rem;
  --padding-primary-y: 6rem;

  --title-color-primary: rgb(12, 28, 71);
  --title-color-secondary: rgb(255, 255, 255);

  --text-color-primary: rgb(3, 6, 28);
  --text-color-secondary: rgb(255, 255, 255);
  --text-color-tertiary: rgb(0, 168, 225);
  --text-color-primary-white: rgb(29, 36, 68);

  --Color-NB: rgb(244, 246, 246);
  --Text-Color-T: rgb(12, 28, 71);
  --Text-Color-N: rgb(3, 6, 28);
  --Text-Color-P: rgb(29, 36, 68);
  --Text-Color-P-W: rgb(255, 255, 255);

  --radius-primary: 0.38rem;

  --box-shadow-primary: 0 -4px 4px rgba(0, 0, 0, 0.51);
  --drop-shadow-primary: 0 0 4px 0 rgba(0, 0, 0, 0.51);

  --padding-primary-x: 6rem;
  --padding-primary-y: 6rem;

  --radius-primary: 6px;

  --blur-primary: 4px;
}

@media screen and (color-scheme: dark) {
  :root {
  }
}

@media screen and (max-width: 768px) {
  :root {
    --padding-primary-x: 50px;
    --padding-primary-y: 50px;
  }
}
