.Advertising {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "derecha izquierda";
  width: 100%;
  height:calc(100vh *100%);
  background-color: var(--bg-secondary);
  overflow: hidden;
}

.Advertising-izq {
  grid-area: izquierda;
}

.Advertising-der {
  grid-area: derecha;
}

.Advertising-content {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  padding: calc(12.875rem * var(--scale)) calc(7rem * var(--scale)) calc(2rem * var(--scale)) calc(6.25rem * var(--scale));
  --padding-bottom: 2rem;

  & h2 {
    color: var(--Text-Color-N);
    font-size: calc(2.75rem * var(--scale));
    font-style: normal;
    font-weight: 600;
    line-height: calc(3.3rem * var(--scale));
  }

  & p {
    color: var(--Text-Color-P);
    font-size: calc(1.5rem * var(--scale));
    font-style: normal;
    font-weight: 500;
    line-height: 1.8rem;
    padding-bottom: calc(var(--padding-bottom) * var(--scale));
  }
}

.Advertising-image {
  position: relative;
  overflow: hidden;
  padding: calc(14.44rem * var(--scale)) calc(3.125rem * var(--scale))
    calc(6.1875rem * var(--scale)) var(--padding-primary-x);

  & img {
    width: 100%;
    height: 100%;
  }
}


@media screen and (max-width: 1024px) {
  .Advertising {
    grid-template-columns: 1.1fr 1fr;
  }
  .Advertising-content {
    padding-right: 60px;
  }
  .Advertising-content h2 {
    --scale: 0.8;
  }
  .Advertising-content p {
    --scale: 0.8;
  }
}

@media screen and (max-width: 768px) {
  .Advertising[data-orden="der-izq"] {
    grid-template-columns: 1fr;
    grid-template-areas:
      "derecha"
      "izquierda";
  }
}

/* Cuando data-orden es "izquierda-derecha" */
@media screen and (max-width: 768px) {
  .Advertising[data-orden="izq-der"] {
    grid-template-columns: 1fr;
    grid-template-areas:
      "izquierda"
      "derecha";
  }
}

@media screen and (max-width: 768px) {
  .Advertising-image {
    padding: var(--padding-primary-x) 1rem;
    position: relative;
    overflow:visible;
  }

  .Advertising-content {
    padding: var(--padding-primary-x) 1.5rem;
    & h2 {
      padding-top: var(--padding-primary-x);
      text-align: center;
      --scale: 0.9;
    }
    & p {
      text-align: center;
    --scale: 0.9;
    }
  }
}

@media screen and (max-width: 425px) {
  .Advertising-content h2 {
    --scale: 0.8;
  }

  .Advertising-content p {
    --scale: 0.8;
  }
}

@media screen and (max-width: 312px) {
}
